body {
    font-family: 'Rubik', Helvetica, sans-serif;
    max-width: 960px;
    box-sizing: border-box;
    margin: 50px auto;
    color: #7F2982;
}

header {
    text-align: center;
    margin-bottom: 50px;
    border: 1px solid #323232;
    height: 300px;

}

.row {
    display: block;
}

input {
    overflow: auto;
}

